main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.time {
  font-size: 25px;
  font-weight: bold;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.4px solid #d3d6da;
  width: 60px;
  height: 60px;
  font-size: 40px;
  font-weight: bold;
}
